service: aws-lambda-whereis

provider:
  name: aws
  runtime: nodejs6.10

plugins:
  - serverless-env-generator
  - serverless-webpack
  - serverless-offline # serverless-offline needs to be last in the list

# Plugin config goes into custom:
custom:
  webpackIncludeModules: true
  envFiles: #YAML files used to create .env file
    - environment.yml

functions:
  whereIs:
    handler: src/handler.whereIs
    events:
      - http:
          path: whereis
          method: get
          cors: true
          request:
            parameters:
              querystrings:
                lat: false
                lng: false
                addr: false
